.Circle {
	width: 50px;
	height: 50px;
	/* margin-left: 10px; */
	border-radius: 50%;
	background-color: #f83b90;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
	font-weight: 800;
	color: #fff;

	box-shadow: 3px 4px 8px -1px rgba(0, 0, 0, 0.73);
	animation: 1s ease 0s 1 normal none running crescendo;
}

@keyframes crescendo {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1);
	}
}
